.confirmed-booking{
    align-self: center;
    text-align: center;
}
.confirmed-booking h2{
    color: #4d403a;
}
.confirmed-booking p{
    color: #4d403a;
    background-color: #e8d8c3;
}
.confirmed-booking img{
    max-width: 75px;
    align-self: center;
    margin-bottom: 2px;
}