.confirmed-booking{
    align-self: center;
    text-align: center;
}
.confirmed-booking h2{
    color: #6F4E37;
}
.confirmed-booking p{
    color: #6F4E37;
    background-color: #e8d8c3;
    font-size: x-large;
}
.confirmed-booking img{
    max-width: 75px;
    align-self: center;
    margin-bottom: 2px;
}