/* ===== OUR STORY SECTION ===== */
.our-story {
  gap: 3.5rem;
  margin-top: 12%;
  width: 50%;
}

.our-story-description {
  border-radius: 10%;
}

.our-story-description p {
  padding: 1.5rem;
  background-color: #6F4E37;
  color: whitesmoke;
  border-radius: 1.5625rem;
}

.our-story-description p span {
  background-color: #6F4E37;
  color: #D6B389;
  font-size: xx-large;
}

/* ===== MEDIA QUERIES ===== */

/* Tablet Layout */
@media only screen and (max-width: 993px) {
  .our-story {
    width: 65%;
  }
}

/* Mobile Layout */
@media only screen and (max-width: 692px) {
  .our-story {
    width: 80%;
  }
}
